$laptop: 1024px;
$tablet: 768px;
$mobile: 375px;

@mixin min-max($min-width, $max-width, $padding) {
  min-width: $min-width;
  max-width: $max-width;
  padding: 0 $padding;
  box-sizing: border-box;
  margin: 0 auto;
}

@mixin error() {
  position: absolute;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 2.2rem;
  text-align: center;
  color: #ffffff;
  background: tomato;
  border-radius: 10px;
}

@mixin button($w: 44px, $h: 44px) {
  width: $w;
  height: $h;
  outline: none;
  color: #fff;
  background: rgba(174, 181, 185, 0.5);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 5px;
  border: 1px solid #ffffff;

  &:before {
    content: '';
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 5px;
  }

  &:active {
    background: rgba(174, 181, 185, 0.5);
  }

  &:active:after {
    background: transparent;
  }

  &:hover:before {
    opacity: 1;
  }

  &:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(174, 181, 185, 0.5);
    left: 0;
    top: 0;
    border-radius: 5px;
  }

  @keyframes glowing {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
}
